

#header {
	background: grey;
	height: 80px;
	color: white;
	text-align: center;
}


#header h1 {
	line-height: 70px;
	margin: 0px;
	font-size:60px;
}

#images {
	text-align: center;
}

.text {
	text-align: center;
	  font-size: 30px;
}

#footer {
	margin-top:40px;
	background: grey;
	height: 60px;
	color: white;
}

#footer p {
	line-height: 60px;
	margin: 0px;
	text-align: center;
}